#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
body{
  margin:0;
}
.overBuildingScreen{
  position: absolute;

  display: grid;
  grid-template-columns: auto 60px auto auto auto auto;
  column-gap: 20px;
}
#eraser{
  text-align: left;

  align-content: center;
  background-color: green;
}
